<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>jp.emaxis.discord-notifier</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>__RUNTIME_DIR__/notifier.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>__RUNTIME_DIR__</string>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>8</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>__LOG_DIR__/stdout.log</string>
    <key>StandardErrorPath</key>
    <string>__LOG_DIR__/stderr.log</string>
</dict>
</plist>
